Repository d-oit/do-codeguardian: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, cargo-test, security-audit, performance-check

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-yaml
        - id: check-added-large-files
        - id: check-merge-conflict
        - id: check-executables-have-shebangs
        - id: check-shebang-scripts-are-executable
        - id: mixed-line-ending
          args: [--fix=lf]
    - repo: https://github.com/pre-commit/mirrors-clang-format
      rev: v18.1.8
      hooks:
        - id: clang-format
          files: '\.(c|cpp|h|hpp)$'
          exclude: '^data/'
    - repo: https://github.com/psf/black
      rev: 24.8.0
      hooks:
        - id: black
          language_version: python3
    - repo: https://github.com/pycqa/isort
      rev: 5.13.2
      hooks:
        - id: isort
          args: [--profile=black]
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.11.2
      hooks:
        - id: mypy
          additional_dependencies: [types-all]
          exclude: '^test_.*\.py$'
    - repo: local
      hooks:
          - id: rustfmt
            name: Check Rust code formatting
            files: '\.rs$'
            entry: rustfmt
            language: system
            env:
              PATH: "$HOME/.cargo/bin:$PATH"
            args: [--check]
            pass_filenames: false
          - id: clippy
            name: Check Rust code with clippy and verify compilation
            files: '\.rs$'
            entry: bash -c "cargo clippy --profile dev-fast --features dev -- -D warnings && cargo check --profile dev-fast --features dev"
            language: system
            pass_filenames: false
          - id: cargo-test
            name: Run Rust tests
            files: '\.rs$'
            entry: bash -c "cargo test --profile dev-fast --features dev --lib --bins --tests --examples"
            language: system
            pass_filenames: false
            stages: [pre-push]
          - id: security-audit
            name: Run cargo audit for security vulnerabilities
            files: '(Cargo\.toml|Cargo\.lock)$'
            entry: bash -c "command -v cargo-audit >/dev/null 2>&1 && cargo audit --format json || echo 'cargo-audit not installed, skipping security audit'"
            language: system
            pass_filenames: false
            stages: [pre-push]
          - id: performance-check
            name: Check performance regression
            files: '\.rs$'
            entry: bash -c "./scripts/performance_regression_detector.sh || echo 'Performance check skipped - script not found'"
            language: system
            pass_filenames: false
            stages: [pre-push]

CI/CD Pipeline Improvements: Consolidate workflows, add parallel jobs, security scanning, cross-platform support, performance optimization, and monitoring
  .github/workflows/cross-platform-ci.yml
  .github/workflows/turbo-pr-analysis.yml
  .github/workflows/turbo-security-analysis.yml
  .opencode/agent/junior-developer.md
  Cargo.lock
  Cargo.toml
  README.md
  benches/chaos_engineering_benchmark.rs
  benches/comparative_analysis_benchmark.rs
  benches/comprehensive_performance_benchmark.rs
  benches/enhanced_features_benchmark.rs
  benches/hashing_benchmark.rs
  benches/load_testing_benchmark.rs
  benches/optimization_benchmarks.rs
  benches/optimization_recommendations_benchmark.rs
  benches/optimization_tracking_benchmark.rs
  benches/performance_benchmark.rs
  benches/performance_metrics_benchmark.rs
  benches/performance_regression_suite.rs
  benches/release_monitoring_benchmark.rs
  benches/scanning_benchmark.rs
  benches/test_benchmark.rs
  examples/cross_validation_example.rs
  examples/ensemble_example.rs
  examples/unified_feature_extractor_example.rs
  src/analyzers/ai_content_analyzer.rs
  src/analyzers/mod.rs
  src/core/guardian_engine.rs
  src/ml/ensemble/classifier.rs
  src/ml/ensemble/config.rs
  src/ml/ensemble/display.rs
  src/ml/ensemble/meta_learners.rs
  src/ml/ensemble/mod.rs
  src/output/ai/enricher.rs
  src/performance/memory_pool.rs
  tests/broken_files_analyzer_tests.rs
  tests/e2e_error_scenarios.rs
  tests/output_system_integration_tests.rs
  tests/performance_integration_tests.rs
  tests/security_testing_suite.rs
Due: rustfmt, clippy, cargo-test, security-audit, performance-check

feat: add comprehensive CI workflow
  .github/workflows/ci.yml
Due: none

feat: Add CI/CD enhancements including notifications, cost tracking, and automated workflows
  .github/notification-templates/ci-failure.json
  .github/notification-templates/ci-success.json
  .github/notification-templates/deployment-failure.json
  .github/notification-templates/deployment-success.json
  .github/workflows-templates/slack-notification.yml
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/cost-tracking.yml
  .github/workflows/cross-platform-ci.yml.backup
  .github/workflows/cross-platform-release.yml
  .github/workflows/performance-quality.yml
  .github/workflows/security-compliance.yml
  .github/workflows/verify-build.yml.backup
  docs/ci-cd-notifications-cost-tracking.md
  docs/cross-platform-requirements.md
  scripts/cost-dashboard.sh
  scripts/release/README-automated-workflow.md
  scripts/release/automated-release-workflow.sh
  scripts/release/changelog-config.toml
  scripts/release/generate-changelog-enhanced.sh
  scripts/send-slack-notification.sh
  workflow-optimization-report.md
Due: none

Enhance testing framework with improved analyzers and comprehensive integration tests
  scripts/release/README-enhanced-changelog.md
  scripts/release/release-config.toml
  scripts/release/release-manager-enhanced.sh
  src/analyzers/build_artifact_analyzer.rs
  src/analyzers/duplicate_analyzer.rs
  src/analyzers/mod.rs
  src/analyzers/performance_analyzer.rs
  src/config/mod.rs
  tests/component_interaction_tests.rs
  tests/ecosystem_integration_testing.rs
  tests/output_system_integration_tests.rs
  tests/unit_test_coverage_analyzer.rs
Due: rustfmt, clippy, cargo-test, performance-check

fix: make CodeBlock struct public to resolve clippy warnings
  src/analyzers/duplicate_analyzer.rs
Due: rustfmt, clippy, cargo-test, performance-check

fix: allow Unicode-3.0 and CDLA-Permissive-2.0 licenses in deny.toml
  deny.toml
Due: none

fix: update deny.toml to cargo-deny version 2 configuration
  deny.toml
Due: none

Add performance monitoring metrics, duplicate detection dashboard, and GitHub issue utilities improvements
  .github/workflows/performance-benchmark-suite.yml
  .gitignore
  analyze
  config/codeguardian.toml
  config/performance_thresholds.json
  deny.toml
  docs/duplicate-issue-prevention.md
  generate
  plans/duplicate-issue-prevention-goap-plan.md
  plans/fix-github-issues-goap-plan.md
  scripts/create_performance_regression_issue.sh
  scripts/duplicate_detection_dashboard.sh
  scripts/github-issue-utils.sh
  scripts/performance_monitoring_metrics.sh
  src/core/parallel_file_processor.rs
  src/ml/cross_validation.rs
  src/ml/unified_feature_extractor.rs
  tests/mocks/gh
  tests/test_github_issue_utils.bats
Due: rustfmt, clippy, cargo-test, performance-check

perf: optimize ML cross-validation and parallel file processing
  src/core/parallel_file_processor.rs
Due: rustfmt, clippy, cargo-test, performance-check

docs: clarify report save locations and add directory structure
  .github/workflows/performance-benchmark-suite.yml
  .gitignore
  analyze
  docs/duplicate-issue-prevention.md
  generate
  scripts/create_performance_regression_issue.sh
  scripts/duplicate_detection_dashboard.sh
  scripts/performance_monitoring_metrics.sh
  src/cache/unified_cache.rs
  src/cli/report.rs
  src/config/base.rs
  src/core/swarm_orchestrator.rs
  src/indexing.rs
  src/output/formats/markdown.rs
  src/output/testing/integration_tests.rs
  src/output/testing/performance_tests.rs
  src/output/testing/security_tests.rs
  src/performance/mod.rs
  src/remediation/actions.rs
  src/utils/progress.rs
  src/utils/security.rs
  tests/test_performance.rs
Due: rustfmt, clippy, cargo-test, performance-check
